main {
  display: flex;
  flex-direction: column;
}

.post-card {
  border: brown .25em solid;
  margin: .25em;
  padding: .75em;
  border-radius: 1em;
}

.post {
  text-align: left;
}

.post::first-letter {
  font-size: 3em;
  line-height: 1em;
}